<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- Gallery and image access permission -->
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />

    <queries>
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:mimeType="text/html" />
            <category android:name="android.intent.category.BROWSABLE" />
        </intent>
    </queries>

    <application
        android:usesCleartextTraffic="true"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher4"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher4_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BrokerFi"
        android:requestLegacyExternalStorage="true"
        tools:targetApi="31">
        <activity
            android:name=".news.AboutActivity"
            android:exported="false" />
        <activity
            android:name=".news.NotificationActivity"
            android:exported="false" />
        <activity
            android:name=".brokerfi.AtvActivity"
            android:exported="false" />
        <activity
            android:name=".brokerfi.WithdrawActivity"
            android:exported="false" />
        <activity
            android:name=".news.NewsActivity"
            android:exported="false" />
        <activity
            android:name=".news.EmulatorActivity"
            android:exported="false" />
        <activity
            android:name=".brokerfi.StakeMoreActivity"
            android:exported="false" />
        <activity
            android:name=".brokerfi.BrokerActivity"
            android:exported="false" />
        <activity
            android:name=".brokerfi.AfterBrokerActivity"
            android:exported="false" />
        <activity
            android:name=".common.qrcode.Capture"
            android:screenOrientation="portrait"
            android:stateNotNeeded="true"
            android:theme="@style/zxing_CaptureTheme" />
        <activity
            android:name=".main.MainActivity"
            android:exported="false" />
        <activity
            android:name=".nft.NFTMainActivity"
            android:exported="false" />
        <activity
            android:name=".nft.MintActivity"
            android:exported="false" />
        <activity
            android:name=".nft.MyNFTsActivity"
            android:exported="false" />
        <activity
            android:name=".nft.BuyNFTsActivity"
            android:exported="false" />
        <activity
            android:name=".nft.CongratulationsMintActivity"
            android:exported="false" />
        <activity
            android:name=".account.MyAccountActivity"
            android:exported="false" />
        <activity
            android:name=".account.BeforeShowPrKeyActivity"
            android:exported="false" />
        <activity
            android:name=".account.AddAccountActivity"
            android:exported="false" />
        <activity
            android:name=".account.GenerateAccountActivity"
            android:exported="false" />
        <activity
            android:name=".account.SelectAccountActivity"
            android:exported="false" />
        <activity
            android:name=".account.ExportPrivateKeyActivity"
            android:exported="false" />
        <activity
            android:name=".account.SettingActivity"
            android:exported="false" />
        <activity
            android:name=".account.AddNetworkActivity"
            android:exported="false" />
        <activity
            android:name=".account.SelectNetworkActivity"
            android:exported="false" />
        <activity
            android:name=".account.ShowPrKryActivity"
            android:exported="false" />
        <activity
            android:name=".send.SendActivity"
            android:exported="false" />
        <activity
            android:name=".receive.ReceiveActivity"
            android:exported="false" />
        <activity
            android:name=".swap.SwapActivity"
            android:exported="false" />
        <activity
            android:name=".swap.BuyActivity"
            android:exported="false" />
        <activity
            android:name=".faucet.FaucetActivity"
            android:exported="false" />
        <activity
            android:name=".main.MenuActivity"
            android:exported="false" />
        <activity
            android:name=".account.WelcomeBackActivity"
            android:exported="false" />
        <activity
            android:name=".account.CongratulationsActivity"
            android:exported="false" />
        <activity
            android:name=".account.ComfirmSecretActivity"
            android:exported="false" />
        <activity
            android:name=".account.SecretPhraseActivity"
            android:exported="false" />
        <activity
            android:name=".account.CreatePasswActivity"
            android:exported="false" />
        <activity
            android:name=".account.ImportActivity"
            android:exported="false" />
        <activity
            android:name=".account.WelcomeActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".medal.MedalRankingActivity"
            android:exported="false" />
        <activity
            android:name=".medal.GlobalStatsActivity"
            android:exported="false" />
        <activity
            android:name=".proof.ProofSubmissionActivity"
            android:exported="false" />
        <activity
            android:name=".nft.NFTMintingActivity"
            android:exported="false" />
        <activity
            android:name=".nft.NFTViewActivity"
            android:exported="false" />
        <activity
            android:name=".proof.ProofAndNFTActivity"
            android:exported="false" />
        <activity
            android:name=".proof.SubmissionHistoryActivity"
            android:exported="false" />
        <activity
            android:name=".proof.SubmissionDetailActivity"
            android:exported="false" />
        <activity
            android:name=".xc.MyCenterActivity"
            android:exported="false" />
        <activity
            android:name=".account.AccountDetailActivity"
            android:exported="false" />
        <activity
            android:name=".account.ConfirmPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".account.ShowPrivateKeyActivity"
            android:exported="false" />
        <activity
            android:name=".xc.CommunityActivity"
            android:exported="false" />
        <activity
            android:name=".xc.PostDetailActivity"
            android:exported="false" />
        <activity
            android:name=".xc.ProfileActivity"
            android:exported="false" />
        <activity
            android:name=".xc.PostPublishActivity"
            android:exported="false" />
        <activity
            android:name=".xc.ImagePreviewActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:exported="false" />
        <activity
            android:name=".xc.EditProfileActivity"
            android:exported="false" />

        <!-- FileProvider for camera photos -->
        <activity
            android:name=".token.TokenDetailActivity"
            android:exported="false" />
        <activity
            android:name=".token.TokenSwapActivity"
            android:exported="false" />
        <activity
            android:name=".token.TokenSendActivity"
            android:exported="false" />
        <activity
            android:name=".token.TokenInfoActivity"
            android:exported="false" />
        <activity
            android:name=".token.TokenManageActivity"
            android:exported="false" />
        <activity
            android:name=".token.TokenAddActivity"
            android:exported="false" />
        <activity
            android:name=".token.TokenAddHelpActivity"
            android:exported="false" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.brokerfi.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>
